.RoleSection{
    width: 70%;
    margin: 0 auto;

}
.listmaindiv{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list-button{
    display: flex;
    justify-content: space-between;

}
.adduser-button{
    margin: 0 16px
}
.plusicons{
margin-bottom: 15px;
}
.Submit-button{
    margin-left: auto;
    margin-right: 10px;
}
.modal-button{
    display: flex;
    justify-content: flex-end;
}
.modal-cancle-button{
    margin: 0px 7px;
}
/*  */
.CloseIcon{
    text-align: center;
    
}
.form-button{
    margin-top: 14px;
}
.Loading{
text-align: center;
}